{% set list = [

	{
		title : "Gallery Qingming",
		img   : 1,
		stake : "GLF / ETH",
		label : "5x"
	},
	{
		title : "Gallery Da Vinci",
		img   : 2,
		stake : "GLF / USDT",
		label : "5x"
	},
	{
		title : "Gallery Santi",
		img   : 3,
		stake : "YFI"
	},
	{
		title : "Gallery Picasso",
		img   : 4,
		stake : "MEME"
	},
	{
		title : "Gallery Dali",
		img   : 5,
		stake : "SAKE"
	},
	{
		title : "Gallery Kandinsky",
		img   : 6,
		stake : "BOT"
	}


] %}

		<div class="card-pool">

			<div class="card-pool__list">

{% for item in list %}

				<div class="card-pool__item">

					<a href="/" class="card-pool__img">

						<picture>

							<source srcset="/img/card-pool/{{ item.img }}.webp 1x, /img/card-pool/{{ item.img }}@2x.webp 2x" type="image/webp">
							<source srcset="/img/card-pool/{{ item.img }}.jpg 1x, /img/card-pool/{{ item.img }}@2x.jpg 2x">

							<img src="/img/card-pool/{{ item.img }}@2x.jpg" alt="{{ item.title }}" loading="lazy" width="264" height="170">

						</picture>

					{% if item.label %}

						<small class="card-pool__label">
							{{ item.label }}
						</small>

					{% endif %}

					</a>

					<h2 class="card-pool__title">
						{{ item.title }}
					</h2>

					<a href="/" class="card-pool__stake">
						Stake
						<b>{{ item.stake }}</b>
						<svg width="20" height="21" viewBox="0 0 20 21">
							<path d="M13.48 9.67L9 5.2l1.18-1.18 6.48 6.48-6.48 6.48L9 15.8l4.47-4.47H3.33V9.67h10.15z" stroke-width=".8"/>
						</svg>
					</a>

					<p class="card-pool__earn">
						Earn GLF
					</p>

					<hr>

					<dl class="card-pool__dl">

						<div class="card-pool__dl-row">

							<dt class="card-pool__dl-dt">
								Stacked
							</dt>

							<dd class="card-pool__dl-dd">
								<b class="card-pool__dl-black">0.86</b>
							</dd>

						</div>

						<div class="card-pool__dl-row">

							<dt class="card-pool__dl-dt">
								Pool total
							</dt>

							<dd class="card-pool__dl-dd">
								<b class="card-pool__dl-blue">$614,153.94</b> (99.33%)
							</dd>

						</div>

						<div class="card-pool__dl-row">

							<dt class="card-pool__dl-dt">
								APY
							</dt>

							<dd class="card-pool__dl-dd">
								<b class="card-pool__dl-green">129.216%</b>
							</dd>

						</div>

					</dl>

				</div>

{% endfor %}

			</div>

		</div>
