		<nav class="menu">

			<ul class="menu__list">

				<li class="menu__item{% if urlPage === 'about' %} is-current{% endif %}">

					<a class="menu__link" href="/about">About</a>

					<ul class="menu__sub">
						<li>
							<a href="/about">
								Summary
							</a>
						</li>
						<li>
							<a href="/about/workshop">
								Workshop
							</a>
						</li>
						<li>
							<a href="/about/auction">
								Auction
							</a>
						</li>
						<li>
							<a href="/about/exhibition-hall">
								Exhibition hall
							</a>
						</li>
						<li>
							<a href="/about/glf-token">
								GLF Token
							</a>
						</li>
					</ul>

				</li>

				<li class="menu__item{% if urlPage === 'workshop' %} is-current{% endif %}">

					<a class="menu__link" href="/workshop">Workshop</a>

				</li>

				<li class="menu__item{% if urlPage === 'auction' %} is-current{% endif %}">

					<a class="menu__link" href="/auction">Auction</a>

				</li>

				<li class="menu__item{% if urlPage === 'exhibition-hall' %} is-current{% endif %}">

					<a class="menu__link" href="/exhibition-hall">Exhibition hall</a>

				</li>

				<li class="menu__item{% if urlPage === 'pools' %} is-current{% endif %}">

					<a class="menu__link" href="/pools">Pools</a>

				</li>

			</ul>

		</nav>