		<nav class="menu">

			<ul class="menu__list">

				<li class="menu__item">

					<a class="menu__link" href="">About</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="">Workshop</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="">Auction</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="">Exhibition hall</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="/pools">Pools</a>

				</li>

			</ul>

		</nav>