	<div class="modal">

		<div class="modal__box">

			<div class="modal__item modal__item--recieve">

				<form class="form-recieve" action="/" novalidate="novalidate">

					<h3 class="modal__title h3">
						You will recieve
					</h3>

					<div class="form-recieve__radio">

						<label class="form-recieve__input">

							<input type="radio" name="modal-form-recieve" class="visuallyhidden" value="MetaMask">

							<span class="form-recieve__image">

								<img src="/img/modal/MetaMask.png" srcset="/img/modal/MetaMask@2x.png 2x" alt="">

							</span>

							<span class="form-recieve__label">
								MetaMask
							</span>

						</label>

						<hr>

						<label class="form-recieve__input">

							<input type="radio" name="modal-form-recieve" class="visuallyhidden" value="Trezor">

							<span class="form-recieve__image">

								<img src="/img/modal/Trezor.png" srcset="/img/modal/Trezor@2x.png 2x" alt="">

							</span>

							<span class="form-recieve__label">
								Trezor
							</span>

						</label>

						<hr>

						<label class="form-recieve__input">

							<input type="radio" name="modal-form-recieve" class="visuallyhidden" value="Ledger" checked="checked">

							<span class="form-recieve__image">

								<img src="/img/modal/Ledger.png" srcset="/img/modal/Ledger@2x.png 2x" alt="">

							</span>

							<span class="form-recieve__label">
								Ledger
							</span>

						</label>

					</div>

				</form>

			</div>

			<div class="modal__item modal__item--approved">

				<form class="form-recieve" action="/" novalidate="novalidate">

					<h3 class="modal__title h3">
						You will recieve
					</h3>

					<hr>

					<div class="form-recieve__row-group">

						<div class="form-recieve__row form-recieve__row--pair">

							<div class="form-recieve__row-value">
								5874.2
							</div>

							<div class="form-recieve__row-label">

								<div class="form-recieve__row-logo">
									<svg width="30" height="30" viewBox="0 0 30 30">
										<circle cx="15" cy="15" r="15" fill="#1D1D1D"/>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M22.6 11.01v-.58h-1.8c-.82 0-1.58.4-2.03 1.08l-2.16 3.2h-4.15v.58h3.76l-1.94 2.88c-.34.51-.91.82-1.53.82H12A4 4 0 017.98 15 4 4 0 0112 11.01h4.74v-.58H12A4.6 4.6 0 007.4 15a4.6 4.6 0 004.6 4.57h.75c.81 0 1.57-.4 2.02-1.08l2.16-3.2h3.92v-.58h-3.53l1.94-2.88c.34-.51.91-.82 1.53-.82h1.82z" fill="#fff" stroke="#fff"/>
									</svg>
								</div>

								<div class="form-recieve__row-suf">
									GLF
								</div>

							</div>

						</div>

						<div class="form-recieve__concatenation">
							+
						</div>

						<div class="form-recieve__row form-recieve__row--pair">

							<div class="form-recieve__row-value">
								1.21458
							</div>

							<div class="form-recieve__row-label">

								<div class="form-recieve__row-logo">
									<svg width="30" height="30" viewBox="0 0 30 30">
										<circle cx="15" cy="15" r="15" fill="#ECEFF0"/>
										<path d="M15 5l-.13.46v13.22l.13.13 6-3.62L15 5z" fill="#343434"/>
										<path d="M15 5L9 15.19l6 3.62V5z" fill="#8C8C8C"/>
										<path d="M15 19.98l-.08.09v4.7L15 25l6-8.65-6 3.63z" fill="#3C3C3B"/>
										<path d="M15 25v-5.02l-6-3.63L15 25z" fill="#8C8C8C"/>
										<path d="M15 18.81l6-3.62-6-2.8v6.42z" fill="#141414"/>
										<path d="M9 15.19l6 3.62V12.4l-6 2.79z" fill="#393939"/>
									</svg>
								</div>

								<div class="form-recieve__row-suf">
									ETH
								</div>

							</div>

						</div>

					</div>

					<p class="form-recieve__text">
						Output is estimated. if the price changes by more than 5% your transaction will revert.
					</p>

					<div class="form-recieve__row-result">

						<div class="form-recieve__row">

							<div class="form-recieve__row-value">
								UNI GLF/ETH burned
							</div>

							<div class="form-recieve__row-label">

								<div class="form-recieve__row-logo">
									<svg width="55" height="34" viewBox="0 0 55 34">
										<circle cx="40" cy="17" r="15" fill="#ECEFF0"/>
										<path d="M40 7l-.13.46v13.22l.13.13 6-3.62L40 7z" fill="#343434"/>
										<path d="M40 7l-6 10.19 6 3.62V7z" fill="#8C8C8C"/>
										<path d="M40 21.98l-.08.09v4.7L40 27l6-8.65-6 3.63z" fill="#3C3C3B"/>
										<path d="M40 27v-5.02l-6-3.63L40 27z" fill="#8C8C8C"/>
										<path d="M40 20.81l6-3.62-6-2.8v6.42z" fill="#141414"/>
										<path d="M34 17.19l6 3.62V14.4l-6 2.79z" fill="#393939"/>
										<circle cx="17" cy="17" r="16" fill="#1D1D1D" stroke="#fff" stroke-width="2"/>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M24.6 13.01v-.58h-1.8c-.82 0-1.58.4-2.03 1.08l-2.16 3.2h-4.15v.58h3.76l-1.94 2.88c-.34.51-.91.82-1.53.82H14A4 4 0 019.98 17 4 4 0 0114 13.01h4.74v-.58H14A4.6 4.6 0 009.4 17a4.6 4.6 0 004.6 4.57h.75c.81 0 1.57-.4 2.02-1.08l2.16-3.2h3.92v-.58h-3.53l1.94-2.88c.34-.51.91-.82 1.53-.82h1.82z" fill="#fff" stroke="#fff"/>
									</svg>
								</div>

								<div class="form-recieve__row-suf">
									76.8934
								</div>

							</div>

						</div>

					</div>

					<hr>

{% include "template/data-price.html" %}

					<button class="form-recieve__btn btn btn--medium">
						Confirm
					</button>

				</form>

			</div>

			<div class="modal__item modal__item--done">

				<div class="transction-submitted">

					<div class="transction-submitted__logo">

						<svg width="60" height="60" viewBox="0 0 60 60">
							<path d="M32.92 19.15l-1.02-1.03V49.4h-3.8V18.12l-1.02 1.03-12.99 12.98-2.69-2.69L30 10.84l18.6 18.6-2.69 2.7-12.99-13z" stroke="#FCE7B4" stroke-width="1.2"/>
						</svg>

					</div>

					<h3 class="modal__title h3">
						Transction submitted
					</h3>

					<div class="transction-submitted__link">

						<a href="/" class="link">
							View on Etherscan
						</a>

					</div>

					<button class="transction-submitted__btn modal__close btn" type="button">
						Close
					</button>

				</div>

			</div>

			<div class="modal__item modal__item--vote">

				<form class="form-vote-new form-app" action="/" novalidate="novalidate">

					<h3 class="modal__title h3">
						Vote for a Figure
					</h3>

					<table class="form-vote__table">

						<tr>
							<th>
								Name:
							</th>
							<td>
								Donald Trump
							</td>
						</tr>

						<tr>
							<th>
								Details:
							</th>
							<td>
								Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
							</td>
						</tr>

					</table>

					<div class="form-vote__inputbox form-app__inputbox">

						<div class="form-app__inputbox-control">

							<div class="form-app__inputbox-input">

								<input class="input" placeholder="0.0000">

							</div>

							<div class="form-app__inputbox-up">

								<div class="form-app__inputbox-up-pref">
									Max
								</div>

							</div>

						</div>

					</div>

					<p class="form-app__inputbox-after-text">
						Voting Power: 110.212121 GLF tokens
					</p>

					<p class="form-app__note">
						GLF tokens used for this vote will be staked for 4&nbsp;days.
					</p>

					<div class="form-app__submit form-app__submit--row">

						<button class="btn btn--outline btn--medium modal__close" type="button">
							Cancel
						</button>

						<button class="btn btn--medium">
							Confirm
						</button>

					</div>

				</form>

			</div>

			<div class="modal__item modal__item--vote-new">

				<form class="form-vote-new form-app" action="/" novalidate="novalidate">

					<h3 class="modal__title h3">
						Propose a New Figure
					</h3>

					<div class="form-vote-new__fieldset">

						<input class="input" placeholder="Name">

						<textarea class="input" placeholder="Details"></textarea>

						<small class="form-vote-new__max-length">
							Note: no more than 200 caharcters
						</small>

						<p class="form-vote-new__info">
							<svg width="21" height="21" viewBox="0 0 21 21">
								<path d="M10.5 19.25a8.75 8.75 0 110-17.5 8.75 8.75 0 010 17.5zm-.88-6.13v1.76h1.76v-1.76H9.62zm0-7v5.25h1.76V6.13H9.62z"/>
							</svg>
							Please describe the person and attach his linkedin or&nbsp;social media links where artists can find photos.
						</p>

					</div>

					<hr>

					<p class="form-app__note">
						You need to stake <b>100 GLF tokens</b> to propose a&nbsp;figure and tokens will be staked for 4 days. <br>You can propose more than one figure
					</p>

					<div class="form-app__submit">

						<button class="btn btn--medium">
							Submit
						</button>

					</div>

				</form>

			</div>

			<div class="modal__item modal__item--gallery">

				<div id="modal-gallery"></div>

			</div>

			<button type="button" class="modal__close modal__close-btn button" aria-label="Close modal">
				<svg width="24" height="24" viewBox="0 0 24 24" >
					<path d="M14.5 10l7.39-7L24 5l-7.39 7L24 19l-2.11 2-7.39-7-7.39 7L5 19l7.39-7L5 5l2.11-2 7.39 7z"/>
				</svg>
			</button>

		</div>

	</div>