	<div class="modal">

		<div class="modal__box">

			<div class="modal__item modal__item--recieve">

				<form class="form-recieve" action="/" novalidate="novalidate">

					<h3 class="form-recieve__title">
						You will recieve
					</h3>

					<label class="form-recieve__input">

						<input type="radio" name="modal-form-recieve" class="visuallyhidden" value="MetaMask">

						<span class="form-recieve__image">

							<img src="/img/modal/MetaMask.png" srcset="/img/modal/MetaMask@2x.png 2x" alt="">

						</span>

						<span class="form-recieve__label">
							MetaMask
						</span>

					</label>

					<hr>

					<label class="form-recieve__input">

						<input type="radio" name="modal-form-recieve" class="visuallyhidden" value="Trezor">

						<span class="form-recieve__image">

							<img src="/img/modal/Trezor.png" srcset="/img/modal/Trezor@2x.png 2x" alt="">

						</span>

						<span class="form-recieve__label">
							Trezor
						</span>

					</label>

					<hr>

					<label class="form-recieve__input">

						<input type="radio" name="modal-form-recieve" class="visuallyhidden" value="Ledger" checked="checked">

						<span class="form-recieve__image">

							<img src="/img/modal/Ledger.png" srcset="/img/modal/Ledger@2x.png 2x" alt="">

						</span>

						<span class="form-recieve__label">
							Ledger
						</span>

					</label>

				</form>

			</div>

			<button type="button" class="modal__close modal__close-btn button" aria-label="Close modal">
				<svg width="24" height="24" viewBox="0 0 24 24" >
					<path d="M14.5 10l7.39-7L24 5l-7.39 7L24 19l-2.11 2-7.39-7-7.39 7L5 19l7.39-7L5 5l2.11-2 7.39 7z"/>
				</svg>
			</button>

		</div>

	</div>