{% set title = "Deposit" %}

{% set description = "" %}

{% set urlPage = "remove-liquidity" %}

{% set state = "app" %}

{% extends "template/base.html" %}

{% block content %}

	<article class="center">

		<form class="form-app" action="/">

			<div class="form-app__inner deposit">

				<h1 class="form-app__title h3">
					{{ title }}
				</h1>

				<div class="deposit__logo">

					<svg width="73" height="46" viewBox="0 0 73 46">
						<circle cx="53" cy="23" r="20" fill="#ECEFF0"/>
						<path d="M53 9.67l-.18.6v17.64l.18.18 8-4.84-8-13.58z" fill="#343434"/>
						<path d="M53 9.67l-8 13.58 8 4.84V9.67z" fill="#8C8C8C"/>
						<path d="M53 29.63l-.1.13v6.28l.1.3 8-11.54-8 4.83z" fill="#3C3C3B"/>
						<path d="M53 36.33v-6.7l-8-4.83 8 11.53z" fill="#8C8C8C"/>
						<path d="M53 28.09l8-4.84-8-3.72v8.56z" fill="#141414"/>
						<path d="M45 23.25l8 4.84v-8.56l-8 3.72z" fill="#393939"/>
						<circle cx="23" cy="23" r="21.5" fill="#1D1D1D" stroke="#fff" stroke-width="3"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M33.15 17.69v-.78h-2.43c-1.08 0-2.09.54-2.7 1.43l-2.87 4.27h-5.53v.78h5.01l-2.58 3.84A2.46 2.46 0 0120 28.31h-1A5.35 5.35 0 0113.64 23c0-2.93 2.4-5.31 5.36-5.31h6.32v-.78H19A6.12 6.12 0 0012.86 23 6.12 6.12 0 0019 29.09h1c1.09 0 2.1-.54 2.7-1.43l2.87-4.27h5.23v-.78h-4.71l2.59-3.84a2.46 2.46 0 012.04-1.08h2.43z" fill="#fff" stroke="#fff"/>
					</svg>

				</div>

				<p class="form-app__label align-center">
					GLF-ETH GalleryFinanceSwap LP Token
				</p>

				<div class="deposit__inputbox form-app__inputbox">

					<div class="form-app__inputbox-control">

						<div class="form-app__inputbox-input">

							<input class="input" placeholder="0.0000">

						</div>

						<div class="form-app__inputbox-up">

							<div class="form-app__inputbox-up-pref">
								Max
							</div>

						</div>

					</div>

				</div>

				<p class="form-app__inputbox-after-text">
					1021.545848748454484848484  GLF-ETH <br>
					GalleryFinanceSwap LP Token
				</p>

				<div class="form-app__submit form-app__submit--row">

					<button class="btn btn--outline btn--medium" type="button">
						Cancel
					</button>

					<button class="btn btn--medium">
						Confirm
					</button>

				</div>

			</div>

		</form>

	</article>

{% endblock %}