.about {

	display: flex;
	position: relative;
	flex-shrink: 0;
	flex-grow: 1;

	@media ($smWidth) {

		display: block;

	}

	&__box {

		display: flex;

		@media ($smWidth) {

			display: block;

		}

	}

	&__bar {

		position: relative;
		width: 257px;
		flex-shrink: 0;
		padding: 120px 0;
		white-space: nowrap;
		border-right: 1px solid rgba(255, 255, 255, .1);

		@media ($mdWidth) {

			width: 190px;
			padding: 78px 0;

		}

		@media ($smWidth) {

			width: auto;
			padding: 0;
			margin: 20px -20px;
			overflow: hidden;
			border: 0;

			&::after {

				position: absolute;
				top: -40px;
				left: 0;
				right: 0;
				bottom: -40px;
				content: '';
				pointer-events: none;
				box-shadow: inset 0 0 10px 10px var(--bg);

			}

		}

		ul {

			position: sticky;
			top: 120px;

			@media ($smWidth) {

				position: relative;
				display: flex;
				top: 0;
				padding-bottom: 16px;
				overflow-x: auto;
				scroll-snap-type: x mandatory;

			}

		}

		li {

			margin-bottom: 24px;
			line-height: 24px;

			@media ($smWidth) {

				margin: 0;
				padding: 0 4px 0 20px;
				scroll-snap-align: start;
				scroll-snap-stop: always;

				&:last-child {

					padding-right: 20px;

				}

			}

		}

		a {

			color: rgba(255, 255, 255, .5);
			transition: var(--transitionDefault);
			padding-left: 44px;
			position: relative;

			svg {

				position: absolute;
				top: 0;
				left: 0;
				fill: rgba(255, 255, 255, .5);
				stroke: rgba(255, 255, 255, .5);

			}

			@media ($desktop) {

				&:hover {

					color: rgba(255, 255, 255, 1);

					svg {

						fill: rgba(255, 255, 255, 1);
						stroke: rgba(255, 255, 255, 1);

					}

				}

			}

			&.is-active {

				color: var(--yellow);
				pointer-events: none;

				svg {

					fill: var(--yellow);
					stroke: var(--yellow);

				}

			}

		}

	}

	&__body {

		padding: 74px 0 96px 116px;
		color: var(--text);

		@media ($mdWidth) {

			padding: 36px 0 36px 36px;

		}

		@media ($smWidth) {

			padding: 0;

		}

		h1, h2 {

			font-size: 24px;
			line-height: 36px;
			font-weight: 400;
			color: var(--yellow);
			padding-top: 36px;

		}

		p {

			margin: 24px 0;

		}

		ol {

			counter-reset: headings 0;

			li {

				counter-increment: headings 1;
				padding: 0 22px;
				margin: 24px 0;

				&::before {

					content: counter(headings, decimal);
					position: absolute;
					top: 0;
					left: 0;

				}

			}

		}

		&-total-tokens {

			font-size: 24px;
			line-height: 36px;
			font-weight: 400;
			color: var(--yellow);
			padding: 36px;
			margin: 36px 0;
			text-align: center;
			border: 1px solid color(var(--yellow) a(20%));

			@media ($mdWidth) {

				font-size: 20px;
				padding: 20px;

			}

			& + h2 {

				margin-top: 0;
				padding-top: 0;

			}

		}

	}

}