.auction {

	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;

	&__body {

		padding: 70px 0;
		flex-shrink: 0;
		width: 100%;

		@media ($smWidth) {

			padding: 0 0 48px;

		}

		.h1 {

			margin: 46px 0;

		}

		p {

			width: 500px;
			max-width: 100%;
			margin: 24px auto;
			color: var(--text);

		}

	}

	&__btn {

		display: flex;
		margin-top: 60px;
		justify-content: center;

		a {

			color: var(--yellow);
			line-height: 40px;
			border-radius: 22px;
			border: 1px solid;
			padding: 0 23px;
			transition: var(--transitionDefault);

			@media ($desktop) {

				&:hover {

					color: var(--bg);
					background-color: var(--yellow);

				}

			}

		}

	}

	&__img {

		flex-shrink: 0;
		display: flex;
		mix-blend-mode: lighten;
		justify-content: center;

		@media ($smWidth) {

			img {

				max-width: 100%;
				height: auto;

			}

		}

	}

}