.billboard {

	padding: 120px 0;
	overflow: hidden;
	position: relative;
	background-color: #fff;
	z-index: 1;

	@media ($mdWidth) {

		padding: 60px 0 120px;

	}

	@media ($smWidth) {

		padding: 230px 0 80px;

	}

	&__box {

		position: relative;
		background-image: url(/img/billboard/bg.svg);
		background-size: cover;
		background-position: center;
		border-radius: 20px;
		padding: 56px 60px 63px;
		color: #fff;
		min-height: 300px;

		@media ($mdWidth) {

			padding: 60px 62px;
			background-image: url(/img/billboard/bg--table.svg);

		}

		@media ($smWidth) {

			padding: 30px;
			background-image: url(/img/billboard/bg--mobile.svg);

		}

	}

	&__content {

		max-width: 480px;
		position: relative;
		z-index: 1;

		@media ($mdWidth) {

			max-width: 450px;

		}

		@media ($smWidth) {

			max-width: 100%;

		}

	}

	&__checkbox {

		margin: 30px 0;
		max-width: 450px;

		@media ($mdWidth) {

			margin: 52px 0 30px;
			max-width: 360px;

		}

		@media ($smWidth) {

			margin: 20px 0;
			max-width: 450px;

		}

	}

	.btn {

		width: 290px;
		margin-top: 40px;

		@media ($mdWidth) {

			margin-top: 30px;

		}

		@media ($smWidth) {

			width: 100%;
			margin-top: 20px;

		}

	}

	&__rule {

		margin-top: 20px;
		font-size: 14px;
		line-height: 20px;
		color: color(#fff a(70%));
		max-width: 450px;

		@media ($mdWidth) {

			max-width: 360px;

		}

		@media ($smWidth) {

			max-width: 100%;
			font-size: 12px;

		}

		a {

			color: #fff;
			text-decoration: underline;

			@media ($desktop) {

				&:hover {

					text-decoration: none;

				}

			}

		}

	}

	&__img {

		position: absolute;
		right: 20px;
		bottom: 0;
		pointer-events: none;

		@media ($mdWidth) {

			right: -200px;
			width: 590px;
			height: 400px;

		}

		@media ($smWidth) {

			right: -89px;
			width: 484px;
			height: 330px;
			bottom: 228px;
			z-index: -1;

		}

	}

}