.billboard {

	&__box {

		background: #c4c4c4;
		border-radius: 10px;
		position: relative;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		height: 623px;

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			opacity: .8;
			background-color: var(--bg);

		}

	}

	&__content {

		position: relative;
		z-index: 1;
		width: 1080px;
		max-width: 100%;

	}

	&__title {

		span {

			color: var(--yellow);

		}

	}

	&__img {

		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;

	}

}