.calculator {

	.h2 {

		margin: 8px 0 4px;

	}

	&__agreement {

		max-width: 480px;
		margin: 40px 0;

		.btn {

			margin-top: 30px;

		}

	}

	&__rule {

		margin-top: 20px;
		font-size: 14px;
		line-height: 20px;
		color: #7f7f7f;

		@media ($smWidth) {

			font-size: 12px;

		}

		a {

			color: var(--color);
			text-decoration: underline;

			@media ($desktop) {

				&:hover {

					text-decoration: none;

				}

			}

		}

	}

}

virtu-widget {

	margin: 34px 0;

}