.footer {

	flex-shrink: 0;
	background-color: color(var(--color) a(5%));
	padding: 12px;
	display: flex;
	margin-top: 80px;
	justify-content: center;

	&.mt0 {

		margin-top: 0;

	}

	&__links  {

		display: flex;
		justify-content: center;

		li {

			margin: 12px;

		}

		a {

			display: block;
			width: 30px;
			height: 30px;

			@media ($desktop) {

				&:hover svg {

					fill: var(--yellow);

				}

			}

		}

	}

}