.is-loading {

	.wrapper,
	.modal {

		display: none;

	}

	.loading {

		opacity: 1;
		transition: none;

	}

}

.loading {

	pointer-events: none;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: var(--transitionDefault);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	svg {

		stroke: var(--color);

		@media ($mdWidth) {

			width: 168px;
			height: 24px;

		}

	}

	&__inner {

		display: flex;
		justify-content: center;
		align-items: baseline;
		font-weight: 300;
		font-size: 20px;
		margin: 10px;
		white-space: nowrap;

		@media ($mdWidth) {

			font-size: 18px;

		}

	}

	&__dot {

		position: relative;
		width: 5px;
		height: 5px;
		border-radius: 5px;
		background-color: #fff;
		animation: dot-elastic 1s infinite linear;
		margin-left: 10px;

		&::before,
		&::after {

			content: '';
			position: absolute;
			top: 0;
			width: 5px;
			height: 5px;
			border-radius: 5px;
			background-color: #fff;

		}

		&::before {

			left: -8px;
			animation: dot-elastic-before 1s infinite linear;;

		}

		&::after {

			left: 8px;
			animation: dot-elastic-after 1s infinite linear;

		}

	}

}

@keyframes dot-elastic-before {

	0%, 75%, 100% {

		transform: scale(1, 1);

	}

	25% {

		transform: scale(1, 1.5);

	}

	50% {

		transform: scale(1, 0.67);

	}

}


@keyframes dot-elastic {

	0%, 25%, 75%, 100% {

		transform: scale(1, 1);

	}

	50% {

		transform: scale(1, 1.5);

	}

}


@keyframes dot-elastic-after {

	0%, 25%, 100% {

		transform: scale(1, 1);

	}

	50% {

		transform: scale(1, 0.67);

	}

	75% {

		transform: scale(1, 1.5);

	}

}

