.menu {

	white-space: nowrap;

	@media ($mdWidth) {

		display: none;

	}

	&__list {

		display: flex;
		justify-content: center;

	}

	&__item {

		margin: 0 24px;

		&.is-current {

			color: var(--yellow);
			pointer-events: none;

		}

	}

	&__link {

		font-size: 15px;
		font-weight: 500;
		color: inherit;
		display: block;
		transform: var(--transitionDefault);

		@media ($desktop) {

			&:hover {

				color: color(var(--color) a(50%));

			}

		}

	}

}