.menu {

	white-space: nowrap;

	&__list {

		display: flex;
		justify-content: center;

	}

	&__item {

		margin: 0 24px;

	}

	&__link {

		font-size: 15px;
		font-weight: 500;
		color: var(--color);
		display: block;
		transform: var(--transitionDefault);

		@media ($desktop) {

			&:hover {

				opacity: .5;

			}

		}

	}

}