.statistics {

	margin: 90px 0 120px;

	&__title {

		text-align: center;
		margin: 60px 0;

	}

	&__list {

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: -18px;

	}

	&__item {

		background-color: #fff;
		border-radius: 12px;
		width: 336px;
		margin: 18px;
		padding: 36px;

	}

	&__logo {

		margin: -10px auto 25px;

	}

	&__dl {

		&-row {

			display: flex;
			justify-content: space-between;
			white-space: nowrap;
			margin-top: 9px;

		}

		&-dt {

			color: color(#000 a(50%));

		}

		&-dd {

			color: #000;

		}

	}

	&__btn {

		margin-top: 27px;

	}

}