.voter {

	&-head {

		margin: 16px 0 32px;

		&__title {

			color: var(--yellow);
			font-weight: 400;

		}

		&__dashboard {

			display: flex;
			border-radius: 20px;
			margin: 25px 0;
			border: 1px solid color(var(--yellow) a(20%));

			&-power {

				flex-shrink: 0;
				padding: 26px 90px 26px 96px;
				position: relative;
				color: #fff;
				line-height: 27px;
				border-right: 1px solid color(var(--yellow) a(20%));

				b {

					display: block;
					font-weight: 600;
					color:  var(--yellow);

				}

			}

			&-ico {

				position: absolute;
				width: 60px;
				height: 60px;
				top: 0;
				left: 23px;
				bottom: 0;
				margin: auto;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: rgba(255, 255, 255, .1);

				svg {

					fill: var(--yellow);

				}

			}

			&-btn {

				padding: 23px;
				flex-grow: 1;
				display: flex;
				justify-content: flex-end;

			}

		}

	}

	&-table {

		margin: 48px 0;

		table {

			width: 100%;
			color: #fff;
			white-space: nowrap;

		}

		thead {

			th {

				padding: 18px 40px 18px 0;
				text-align: left;
				opacity: .5;
				font-weight: 600;
				white-space: nowrap;
				border-bottom: 4px solid rgba(255, 255, 255, .1);

			}

		}

		tbody {

			tr:nth-child(2n+1) {

				background-color: rgba(255, 255, 255, .05);

			}

			td {

				padding: 12px 34px 12px 0;

				&:first-child {

					padding-left: 24px;

				}

				&:last-child {

					padding-right: 24px;

				}

			}

		}

		&__col-min-width {

			width: 0;

		}

		&__col-max-width {

			width: 100%;

		}

		&__details {

			position: relative;
			height: 39px;

			&-inner {

				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				height: 24px;
				overflow: hidden;
				display: block;
				text-overflow: ellipsis;

			}

		}

	}

}