{% set title = site %}

{% set description = "" %}

{% set urlPage = "" %}

{% extends "template/base.html" %}

{% block content %}

	<ul style="margin: 24px" class="h2">
		<li><a href="/workshop/artwork">Vote for the Artwork</a></li>
		<li><a href="/workshop/submit">Submit an Artwork</a></li>
		<li><a href="/workshop/voter">Vote for the Figures</a></li>
		<li><a href="/remove-liquidity">Remove Liquidity</a></li>
		<li><a href="/remove-liquidity-5">Remove Liquidity 5</a></li>
		<li><a href="/pools-1">Pools 1</a></li>
		<li><a href="/pools-2">Pools 2</a></li>
		<li><a href="/add-liquidity">Add liquidity</a></li>
		<li><a href="/deposit">Deposit</a></li>
		<li><a href="/claim-reward">Claim Reward</a></li>
		<li><a href="/stake-glf-eth">stake-glf-eth</a></li>
		<li><a href="/unstake-glf-eth">unstake-glf-eth</a></li>
		<li><a href="/staked-tokens-ok">staked-tokens-ok</a></li>
		<li><a href="/unstaked-tokens-ok">unstaked-tokens-ok</a></li>
		<li><a href="/failed-transaction">failed-transaction</a></li>
		<li><a href="/waiting-wallet-confirm">waiting-wallet-confirm</a></li>
	</ul>

	<div style="display: flex; flex-wrap: wrap; margin: -12px 12px;">

		<button style="margin: 12px" class="btn" type="button" data-modal="approved">
			You will recieve (confirm)
		</button>

		<button style="margin: 12px" class="btn" type="button" data-modal="recieve">
			You will recieve (selected)
		</button>

		<button style="margin: 12px" class="btn" type="button" data-modal="done">
			Transction submitted
		</button>

		<button style="margin: 12px" class="btn" type="button" data-modal="vote">
			Vote for a Figure
		</button>

		<button style="margin: 12px" class="btn" type="button" data-modal="vote-new">
			Propose a New Figure
		</button>

		<button style="margin: 12px" class="btn" type="button" data-modal="vote-img">
			Vote for a Artwork (img)
		</button>

	</div>

{% endblock %}