{% set title = site %}

{% set description = "" %}

{% set urlPage = "" %}

{% extends "template/base.html" %}

{% block content %}

	<ul style="margin: 24px" class="h2">
		<li><a href="/workshop/artwork">Vote for the Artwork</a></li>
		<li><a href="/workshop/submit">Submit an Artwork</a></li>
		<li><a href="/workshop/voter">Vote for the Figures</a></li>
		<li><a href="/remove-liquidity">Remove Liquidity</a></li>
		<li><a href="/remove-liquidity-5">Remove Liquidity 5</a></li>
		<li><a href="/pools-2">YFI Staking 2</a></li>
		<li><a href="/pools-1">GLF / USDT Liquidity Pool</a></li>
		<li><a href="/add-liquidity">Add liquidity</a></li>
		<li><a href="/deposit">Deposit</a></li>
		<li><a href="/claim-reward">Claim Reward</a></li>
	</ul>

	<div>

		<button style="margin: 24px" class="btn btn--medium btn--green" type="button" data-modal="approved">
			You will recieve
		</button>

		<button style="margin: 24px" class="btn btn--medium btn--red" type="button" data-modal="submitted">
			Transction submitted
		</button>

		<button style="margin: 24px" class="btn btn--medium btn--red" type="button" data-modal="loading">
			Transction submitted (Waiting For Confirmation)
		</button>

		<button style="margin: 24px" class="btn btn--medium btn--red" type="button" data-modal="done">
			Transction submitted (done)
		</button>

	</div>

{% endblock %}