{% set title = site %}

{% set description = "" %}

{% set urlMain = url + '/main' %}

{% extends "template/base.html" %}

{% block content %}

	<div style="padding: 80px 40px">

		<h1 class="h1">Pages</h1>

		<ul class="h2">
			<li><a href="/main">main</a></li>
			<li><a href="/pools">pools</a></li>
		</ul>

		<hr style="margin: 20px">

		<h1 class="h1">PageSpeed</h1>

		<ul class="h2">
			<li><a target="_blank" href="https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2F{{ domain }}%2Fmain%2F&tab=desktop">main <b>0|0</b></a></li><li><a target="_blank" href="https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2F{{ domain }}%2Fpools%2F&tab=desktop">pools <b>0|0</b></a></li>
		</ul>

	</div>

{% endblock %}