		<div class="tabs">

			<div class="tabs__nav">

				<button class="tabs__btn button is-active" type="button">
					My Balance
				</button>

				<button class="tabs__btn button" type="button">
					My Figures
				</button>

				<button class="tabs__btn button" type="button">
					My Artwork
				</button>

				<button class="tabs__btn button" type="button">
					My NFTs
				</button>

			</div>

{% include "account/balance.html" %}
{% include "account/figures.html" %}
{% include "account/artwork.html" %}
{% include "account/nfts.html" %}

		</div>

